.Layout__Header {
    &--logo {
        width: 28%;

        .title {
            font-weight: 800;
            font-size: 28px;
            transform: scaleY(0.9);
            display: inline-block;
            transform-origin: center;
        }
    }

    &--nav {
        width: 28%;
        display: flex;
        justify-content: center;
        gap: 24px;

        .link {
            font-weight: 450;
            font-size: larger;
            font-size: 20px;
            color: var(--black);
            position: relative;
            z-index: 2;
            min-width: 80px;
            transition: font-weight 0.2s ease-in-out;

            &:hover {
                font-weight: 700;
                color: var(--black);

            }
        }
    }

    &--icon {
        display: flex;
        justify-content: flex-end;
        width: 28%;
        gap: 39px;

        .icon {
            font-size: 22px;
            color: var(--black);
            position: relative;
            z-index: 2;
            transition: ease-in-out 0.2;

            &:hover {
                color: var(--black);
                scale: 1.2;
            }
        }

        .btn_language {
            height: 10px;
            top : 7px;
            &:hover {
                scale: 1;
            }
        }
    }

    &--search {
        &.open {
            animation: slide-down 0.3s ease-in-out forwards;
        }
    }

    &--menu {
        &.open {
            animation: slide-down 0.3s ease-in-out forwards;
        }
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
.Layout__Header--userMenu {
    animation: fade 0.15s ease-in-out forwards;
    font-size: 15px;
     width: 140px;
    .menu-item {
        transition: 0.15s;
        font-weight: 400;
        cursor: pointer;
        height: 50px;
        line-height: 100%;
    }
}

@keyframes fade {
    0% { opacity: 0; transform: translateY(-8px); }
    100% { opacity: 1; transform: translateY(0); }
}
