@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  --review-bg: #f3f3f3;
  --border: #DEDEDE;
  --black: #000000;
  --white: #FFFFFF;
  --product-bg: #D9D9D926;
  --description: rgba(0, 0, 0, 0.75);
  --banner-price: rgba(0, 0, 0, 0.5);
  --gradient-start: #E4E4E4;
  --gradient-end: #FAFAFA;
  --btnShadown-up: rgba(0, 0, 0, 0.2);
  --btnShadown-down: rgba(0, 0, 0, 0.01);

  @layer base {

    html,
    body {
      @apply font-display;
      /* toàn bộ text mặc định là font-display (Poppins) */
    }

    * {
      font-family: "Poppins", sans-serif !important;
      /* mọi element kế thừa từ body */
    }
  }
}